{% extends "base.html" %}

{% block title %}
	404 - Page Not Found
{% endblock title %}

<!-- created by http://codepen.io/nickspiel/ -->

{% block body %}
<style type="text/css">

	.message {
	    font-size: 40px;
	    background: none;
	    font-family: 'Montserrat', sans-serif;
	    color: #535353;
	    width: 100%;
	    left: calc(50% - 35px);
	    top: 65%;
		}

	.followup {
	    font-size: 20px;
	    background: none;
	    font-family: 'Montserrat', sans-serif;
	    color: #535353;
	    width: 100%;
	    left: calc(50% - 75px);
	    top: 70%;
		}

	.redirect {
	    font-size: 20px;
	    background: none;
	    font-family: 'Montserrat', sans-serif;
	    color: #535353;
	    width: 100%;
			left: calc(50% - 15px);
			top: 75%;
		}

	.redirect a{
		color: #535353;
	}

		body {
			overflow: hidden;
		}

</style>
<div class="message">404</div>
<div class="followup">Page not found</div>
<div class="redirect"><a href="{% url 'home' %}"><button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">home</i></button></a></div>
{% endblock body %}
