{% extends 'base.html' %} {% load pipeline %} {% load timesince_upto %}

{% block head %}
  {% stylesheet 'channel' %}
{% endblock head %}

{% block content %}

  <section class="hero">
    <div class="hero-body narrow-padding">
      <div class="container">
        <h1 class="title channel-title">
          <span class="is-large"
            style="color: {{channel.color}};">
            {{ channel.name }}
          </span>
        </h1>
        <h2 class="channel-detail">
          <div class="is-black">
            {{ channel.detail }}
          </div>
        </h2>
        <h3 class="subtitle">
          {{ channel.question_set.count }} conversation{{ channel.question_set.count|pluralize }} so far
        </h3>
      </div>
    </div>
  </section>

{% for x in channel.question_set.all %}
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
    {% include 'question.html' %}
    </div>
  </div>
{% endfor %}

{% endblock content %}

{% block js %}
  {% javascript 'channel' %}
{% endblock js %}
