{% extends 'base.html' %} {% load timesince_upto %} {% load el_pagination_tags %} {% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/twemoji-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
{% endblock head %}

{% block content %}
  {% include 'tabbed-emoji.html' %}
      <div  id="infini"> {% paginate question_list%} {% for x in question_list %} {% include 'question.html' %}{% endfor %} {% get_pages %}</div>
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/vote.js' %}"></script>
{% endblock js %}
