{% extends 'base.html' %} {% load pipeline %} {% load timesince_upto %}

{% block title %} front page {% endblock %}

{% block head %}
  {% stylesheet 'home' %}
{% endblock head %}

{% block content %}
  {% include 'tabbed_emoji.html' %}
    <div class="columns">
     	<div class="column is-half is-offset-one-quarter">
        {% include 'trending_channels.html' %}
        {% for x in question_list %} {% include 'question.html' %} {% endfor %}
      </div>
    </div>
{% endblock content %}

{% block js %}
  {% javascript 'home' %}
{% endblock js %}
