{% extends 'base.html' %} {% load pipeline %} {% load timesince_upto %} {% load el_pagination_tags %}

{% block title %} front page {% endblock %}

{% block head %}
  {% stylesheet 'home' %}
{% endblock head %}

{% block content %}
  {% include 'tabbed_emoji.html' %}
    <div class="columns">
     	<div class="column is-half is-offset-one-quarter">
        {% include 'trending_channels.html' %}
        {% paginate question_list %}
	        {% for x in question_list %} 
	        	{% include 'question.html' %} 
	        {% endfor %}
	    <nav class="pagination" role="navigation" aria-label="pagination">
        {% show_pages %}
    	</nav>
      </div>
    </div>
{% endblock content %}

{% block js %}
  {% javascript 'home' %}
{% endblock js %}
