
    <nav class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item" href="{% url 'home' %}">
              {% if tab != 'home' %} <i class="material-icons">arrow_back</i> {% endif %}
              <img src="https://uniqna.com/static/favicons/apple-touch-icon.png" alt="uniqna logo">
          </a>
        </div>

        <div class="nav-center">
          <a class="nav-item" href="{% url 'notifications' %}" >
            {% if user.notification_set.unread_count != 0 %}
              {{ user.notification_set.unread_count }}
            {% endif %}
            <i class="material-icons">notifications</i>
          </a>
          <a class="nav-item">
            @{{ request.user.username }}
          </a>
          <a class="nav-item">
          <span class="uni">u/vitcc</span>
          </a>
        </div>

        <span class="nav-toggle" v-on:click="toggleNav" v-bind:class="{'is-active': isActive}">
        <span></span>
        <span></span>
        <span></span>
        </span>

        <div class="nav-right nav-menu" v-bind:class="{'is-active': isActive }">
          <a class="nav-item is-tab button is-success post" v-on:click.native="activateModal">+Post</a>
          <a class="nav-item is-tab" href="{% url 'user' request.user.username %}">Profile</a>
          <a class="nav-item is-tab" href="{% url 'logout' %}">Log out</a>
        </div>
      </div>
    </nav>

    {% if user.is_authenticated %}
    <div class="modal modal-nav">
      <div class="modal-background"></div>
        <div class="modal-content">

          <h1 class="title is-white">What are you posting? 🍃</h1>
          <a class="button is-success is-medium" href="{% url 'ask' %}">+Question</a>
          <a class="button is-success is-medium" href="{% url 'discuss' %}">+Discussion</a>

        </div>
      <button class="modal-close"></button>
    </div>
    {% endif %}
