{% extends 'base.html' %} {% load pipeline %} {% load timesince_upto %}

{% block title %} @{{ user }} {% endblock %}

{% block head %}
  {% stylesheet 'profile' %}
{% endblock head %}

{% block content %}

{% include 'user_statistics.html' %}

{% include 'user_card.html' %}

  <div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
      <div class="tabs is-fullwidth">
        <ul>
          <li class="is-active" data-to="posts"><a class="route-link">Posts</a></li>
          <li data-to="replies"><a class="route-link">Replies</a></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="loading">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        Fetching data from Voyager... 🛰
      </div>
    </div>
  </div>

  <div class="route" id="posts">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        {% for x in posts %}
          {% include 'question.html' %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="route" id="replies">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <span class="reply-vue">
        {% for node in replies %}
        <strong><a class="is-black" href="{% url 'alt_thread' node.question.pk %}">{{ node.question.title }}</a></strong>
          {% include 'answer.html' %}
        {% endfor %}
        </span>
      </div>
    </div>
  </div>

  {% include 'reply_modal.html' %}
  {% include 'reply_author_modal.html' %}

{% endblock content %}

{% block js %}
  {% javascript 'profile' %}
{% endblock js %}
