{% extends 'base.html' %} {% load timesince_upto %} {% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
    <link rel="stylesheet" href="{% static 'css/answer.css' %}">
{% endblock head %}

{% block content %}

{% include 'user_statistics.html' %}

{% include 'user_card.html' %}

  <div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
      <div class="tabs is-fullwidth">
        <ul>
          <li class="is-active" data-to="posts"><a class="route-link">Posts</a></li>
          <li data-to="replies"><a class="route-link">Replies</a></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="loading">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        Fetching data from Voyager...
      </div>
    </div>
  </div>


  <div class="route" id="posts">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        {% for x in posts %}
          {% include 'question.html' %}
        {% endfor %}
      </div>
    </div>
  </div>


  <div class="route" id="replies">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <span class="reply-vue">
        {% for node in replies %}
          {% include 'answer.html' %}
        {% endfor %}
        </span>
      </div>
    </div>
  </div>

  {% include 'reply_modal.html' %}
  {% include 'reply_author_modal.html' %}

{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/vote.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/notif_delete.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/submit.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/reply_modal.js' %}"></script>
{% endblock js %}
