      <nav class="level is-mobile">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Question</p>
            <p class="title">3,456</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Answers</p>
            <p class="title">123</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Solved</p>
            <p class="title">69%</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Discussions</p>
            <p class="title">789</p>
          </div>
        </div>
      </nav>
