      <nav class="level is-mobile">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Question</p>
            <p class="title">{{ no_of_questions }}</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Answers</p>
            <p class="title">{{ no_of_answers }}</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Solved</p>
            <p class="title">{{ no_of_solved_percentage }}%</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Discussions</p>
            <p class="title">{{ no_of_discussions }}</p>
          </div>
        </div>
      </nav>
