
      <nav class="level is-mobile">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Hot</p>
            <a href="{% url 'home' %}">
                <i class="twa twa-2x twa-fire"></i>
            </a>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Q&A</p>
            <a href="{% url 'tab' 'questions' %}">
                <i class="twa twa-2x twa-thinking"></i>
            </a>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Unsolved</p>
            <a href="{% url 'tab' 'unsolved' %}">
                <i class="twa twa-2x twa-confounded"></i>
            </a>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Discussions</p>
            <a href="{% url 'tab' 'discussions' %}">
                <i class="twa twa-2x twa-thought-balloon"></i>
            </a>
          </div>
        </div>
      </nav>
