
      <nav class="level is-mobile">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Hot</p>
            <a role="tab" title="Hot" v-on:click="fetchPosts('hot')">
                <i class="twa twa-2x twa-fire"></i>
            </a>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Q&A</p>
            <a role="tab" title="Questions" v-on:click="fetchPosts('questions')">
                <i class="twa twa-2x twa-thinking"></i>
            </a>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Unsolved</p>
            <a role="tab" title="Unsolved" v-on:click="fetchPosts('unsolved')">
                <i class="twa twa-2x twa-confounded"></i>
            </a>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Discussions</p>
            <a role="tab" title="Discussions" v-on:click="fetchPosts('discussions')">
                <i class="twa twa-2x twa-thought-balloon"></i>
            </a>
          </div>
        </div>
      </nav>
