{% extends 'base.html' %} {% load pipeline %}

{% block title %} {{ post.title }} {% endblock %}

{% block head %}
  {% stylesheet 'thread' %}
  <!-- Open Graph -->
  <meta property="og:title" content="{{ post.title }}" />
  <meta property="og:description" content="{{ post.description }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.uniqna.com{% url 'thread' post.id post.title|slugify %}" />
  <meta property="og:image" content="https://uniqna.com/static/assets/logo_u_HD.png" />
{% endblock head %}

{% block content %}

  {% if request.user.username == post.author or request.user.is_superuser %}
    {% include 'thread_author_panel.html' %}
  {% endif %}

  {% if post.flair %}<span class="tag is-success">{{ post.flair }}</span>{% endif %}

  {% include 'thread_post.html' %}

  {% include 'contribute_modal.html' %}

  {% include 'thread_replies.html' %}

  {% include 'reply_modal.html' %}

  {% include 'reply_author_modal.html' %}


{% endblock content %}

{% block js %}
  {% javascript 'thread' %}
{% endblock js %}
