{% load bleach_tags %}
  <section class="hero is-unselectable">
    <div class="hero-body narrow-padding">
      <div class="container">

        {% if post.flair %}<span class="tag is-success">{{ post.flair }}</span>{% endif %}

        {% for c in post.channels.all %}
        <a href="{% url 'channel' c.name %}">
          <span class="tag" style="color: {{c.color}};">{{ c.name }}</span>
        </a>
        {% endfor %}

        {% if post.solved %}<i class="material-icons is-pulled-right solved-tick">done</i>{% endif %}

        <h2 class="subtitle">
          <a class="is-pink" href="{% url 'user' post.author %}">@{{ post.author }}</a><small> {{  post.created_time|date:"d M, Y" }}</small>
          <i class="material-icons link is-pointer" data-clipboard-text="https://uniqna.com{% url 'thread' post.pk post.title|slugify %}">link</i>
        </h2>
        <h1 class="title">
          {{ post.title }}
        </h1>

      </div>
    </div>
  </section>

  <div class="columns is-unselectable">
    <div class="column is-two-thirds is-offset-2">

      {% if post.description %}
        <div class="box">
          {{ post.description|bleach }}
        </div>
      {% endif %}

      {% include 'thread_post_vote.html' %}

      {% if user.is_authenticated %}
        <center><a class="button is-success is-medium contribute bd-rainbow"><b>Contribute</b>&nbsp;to this discussion</a></center>
      {% else %}
        <div class="notification bg-is-indigo">
          Hey there, stranger? If you want to contribute to this discussion, please log in so that we can recognise you! :D
        </div>
      {% endif %}

    </div>
  </div>
