{% load bleach_tags %}
  <section class="hero is-unselectable">
    <div class="hero-body narrow-padding">
      <div class="container">

        {% for c in post.channels.all %}
          <span class="tag is-purple">{{ c }}</span>
        {% endfor %}

        {% if post.solved %}<i class="material-icons is-pulled-right solved-tick">done</i>{% endif %}

        <h2 class="subtitle">
          <span class="is-pink">@{{ post.author }}</span> <small> {{  post.created_time|date:"d M, Y" }}</small>
          <i class="material-icons link">link</i>
        </h2>
        <h1 class="title">
          {{ post.title }}
        </h1>

      </div>
    </div>
  </section>

  <div class="columns is-unselectable">
    <div class="column is-two-thirds is-offset-2">

      {% if post.description %}
        <div class="box">
          {{ post.description|bleach }}
        </div>
      {% endif %}

      {% include 'thread_post_vote.html' %}

      <div class="notification bg-is-indigo">
        {% if user.is_authenticated %}
          This forum depends on everyone
          sharing their ideas. If you're
          able to contribute to this
          discussion, please do!
          <br><a class="button is-success is-pulled-right contribute">Contribute!</a>
        {% else %}
          Hey there, stranger? If you want
          to contribute to this discussion,
          please log in so that we can
          recognise you! :D
        {% endif %}
      </div>

    </div>
  </div>
