{% extends 'base.html' %} {% load pipeline %}

{% block head %}
  {% stylesheet 'thread' %}
{% endblock head %}

{% block content %}

  {% if request.user.username == post.author %}
    {% include 'thread_author_panel.html' %}
  {% endif %}

  {% if post.flair %}<span class="tag is-success">{{ post.flair }}</span>{% endif %}

  {% include 'thread_post.html' %}

  {% include 'contribute_modal.html' %}

  {% include 'thread_replies.html' %}

  {% include 'reply_modal.html' %}

  {% include 'reply_author_modal.html' %}


{% endblock content %}

{% block js %}
  {% javascript 'thread' %}
{% endblock js %}
