{% extends 'base.html' %}  {% load pipeline %} {% load widget_tweaks %}

{% block title %} manage @{{ user }} {% endblock %}

{% block head %}
  {% stylesheet 'register' %}
{% endblock %}

{% block content %}

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Manage your account
        </h1>
        <h2 class="subtitle">
          More options coming soon 🎈
        </h2>
      </div>
    </div>
  </section>

  <div class="columns">
    <div class="column is-half is-offset-one-quarter">

      <div class="box is-unselectable">
        <form action="" method="POST"> {% csrf_token %}

          <div class="field">
            <label class="label">Bio</label>
            <p class="control has-icons-left">
              {% render_field edit_form.bio type="text" class+="input" %}
              <span class="icon is-small is-left">
                <i class="material-icons">ac_unit</i>
              </span>
            </p>
          </div>

          <div class="field submit">
            <p class="control">
              <button class="button is-success" value="submit" name="manage" v-on:click="toggleLoading" v-bind:class="{'is-loading': isActive}">
                Update
              </button>
            </p>
          </div>

        </form>
      </div>

      {% if validation_failed %}
      <div class="notification is-danger">
        Uh that's not the right current password .-. Try again?
      </div>
      {% endif %}

      {% if password_form.errors %}
      <div class="notification is-danger">
        {{ password_form.confirm_password.errors }}
      </div>
      {% endif %}

      <div class="box is-unselectable">
        <form action="" method="POST"> {% csrf_token %}

          <div class="field">
            <label class="label">Current Password</label>
            <p class="control has-icons-left">
              {% render_field password_form.current_password type="text" class+="input" %}
              <span class="icon is-small is-left">
                <i class="material-icons">vpn_key</i>
              </span>
            </p>
          </div>

          <div class="field">
            <label class="label">New Password</label>
            <p class="control has-icons-left">
              {% render_field password_form.new_password type="text" class+="input" %}
              <span class="icon is-small is-left">
                <i class="material-icons">lock_open</i>
              </span>
            </p>
          </div>

          <div class="field">
            <label class="label">Confirm Password</label>
            <p class="control has-icons-left">
              {% render_field password_form.confirm_password type="text" class+="input" %}
              <span class="icon is-small is-left">
                <i class="material-icons">lock_outline</i>
              </span>
            </p>
          </div>

          <div class="field submit">
            <p class="control">
              <button class="button is-success" value="submit" name="password" v-on:click="toggleLoading" v-bind:class="{'is-loading': isActive}">
                Change Password
              </button>
            </p>
          </div>

        </form>
      </div>

      <div class="box is-unselectable">
        <form action="{% url 'toggle_email' user.username %}" id="toggle_email_form">
          {% csrf_token %}
          <div class="field is-narrow">
            <label class="label">Prefer to receive our amazing emails?</label>
            <p class="control">
              <label class="radio">
                <input type="radio" name="emailpref" value="True" {% if user.student.notification_emails %}checked{% endif %}>
                Yeah :D
              </label>
              <label class="radio">
                <input type="radio" name="emailpref" value="False" {% if not user.student.notification_emails %}checked{% endif %}>
                Nope :/
              </label>
            </p>
          </div>
        </form>
      </div>

    </div>
  </div>


{% endblock content %}

{% block js %}
  {% javascript 'usermanage' %}
{% endblock js %}
