{% extends 'edit_templates/base.html' %}{% block edit %}
<form action="{% url 'edit_answer_submit' thread_id answer_id %}" method="post">
    {{ form.description }} {% csrf_token %}
    <center>
        <input type="submit" name="submit" class="submit" value="Ask!">
        <button class="ask mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="submitdummy" value="Ask">
  <i class="ask_icon material-icons">send</i>
</button>
    </center><br>
</form>
{% endblock %}
{% block script %}
<script>
$(document).ready(function() {
        simplemde = new SimpleMDE({
            element: $("[name=description]")[0],
            hideIcons: ["quote", "fullscreen"],
            placeholder: "Type here...",
            spellCheck: false
        });
    });
</script>
{% endblock script %}
