static/* linguist-vendored
home/static/* linguist-vendored
home/templates/* linguist-vendored
ask/templates/* linguist-vendored
RestApi/templates/* linguist-vendored
search/templates/* linguist-vendored
threads/templates/* linguist-vendored
user/templates/* linguist-vendored
