appdirs==1.4.3
bleach==2.1.4
certifi==2018.8.24
chardet==3.0.4
contextlib2==0.5.5
coverage==4.5.1
Django==2.1.2
django-bleach==0.3.0
django-el-pagination==3.2.4
django-mptt==0.9.1
django-pipeline==1.6.14
django-robots==3.1.0
django-widget-tweaks==1.4.3
djangorestframework==3.8.2
futures==3.2.0
html5lib==1.0.1
idna==2.7
markdown2==2.3.6
packaging==18.0
pep8==1.7.1
psycopg2==2.7.5
pyparsing==2.2.2
pytz==2018.5
raven==6.9.0
requests==2.19.1
six==1.10.0
urllib3==1.22
webencodings==0.5.1
