appdirs==1.4.3
bleach==3.0.2
certifi==2019.6.16
chardet==3.0.4
contextlib2==0.5.5
coverage==4.5.2
Django==2.2.3
django-bleach==0.3.0
django-el-pagination==3.2.4
django-js-asset==1.1.0
django-mptt==0.9.1
django-pipeline==1.6.14
django-robots==3.1.0
django-widget-tweaks==1.4.5
djangorestframework==3.12.4
futures==3.1.1
html5lib==1.0.1
idna==2.8
markdown2==2.3.8
packaging==18.0
pep8==1.7.1
psycopg2==2.8.3
pyparsing==2.3.0
pytz==2018.7
raven==6.9.0
requests==2.22.0
six==1.11.0
urllib3==1.25.3
webencodings==0.5.1
