{% extends "user_templates/base.html" %}
{% block body %}
{% load widget_tweaks %}
<style>
.failed {
	font-family: "Montserrat", sans-serif;
	color: red;
    font-size: 1.5em;
}
</style>
<center>
<h2>Change your password</h2>
</center>
            {% if success %}
                <center>
                <p class="success">
                Password success fully changed. <a href="../" class="mdl-button mdl-button--primary mdl-js-button">Go Back</a>
                </p>
                </center>
            {% else %}

	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset">
			<form action="" method="POST">
			{% csrf_token %}
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="color: #424242;">
                {% render_field changeform.current_password class+="mdl-textfield__input" %}
                <div id="title_label">
                    <label class="mdl-textfield__label" for="sample3">Current Password</label>
                </div>
            </div>
            {% if failed %}
            <center>
                <p class="failed">
                Current password is invalid
                </p>
            </center>
            {% endif %}
            {% if changeform.current_password.errors %}
                <br>
                    {% for err in changeform.password.errors %}
                    <center>
                        <p class="failed">{{err|escape}}</p>
                        </center>
                    {% endfor %}
                {% endif %}
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="color: #424242;">
                {% render_field changeform.password class+="mdl-textfield__input" %}
                <div id="title_label">
                    <label class="mdl-textfield__label" for="sample3">New Password</label>
                </div>
            </div>
            {% if changeform.password.errors %}
                <br>
                    {% for err in changeform.password.errors %}
                    <center>
                        <p class="failed">{{err|escape}}</p>
                        </center>
                    {% endfor %}
           	{% endif %}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {% render_field changeform.confirm_password class+="mdl-textfield__input" %}
                <div id="title_label">
                    <label class="mdl-textfield__label" for="sample3">Confirm Password</label>
                </div>
            </div>
            {% if changeform.confirm_password.errors %}
                <br>
                    {% for err in changeform.confirm_password.errors %}
                    <center>
                        <p class="failed">{{err|escape}}</p>
                        </center>
                    {% endfor %}
             {% endif %}
            <center>
            <div class="change">
				<input class="submit mdl-button mdl-button--large mdl-js-button mdl-js-ripple-effect mdl-button--primary" type="submit" value="CHANGE">
              </div>
            </center>
            </form>
		</div>
	</div>
    {% endif %}
{% endblock body %}
