{% extends "base/base.html" %}
{% load widget_tweaks %}
{% block titlename %}Forgot Password{% endblock titlename %}
{% block style %}
<style type="text/css">
	.success {
		color: #4CAF50;
		font-size: 1.5em;
		text-align: center;
	}
	.error, .failed{
		font-size: 1.2em;
		color: #E91E63;
		text-align: center;
	}
	.spacer {
		height: 200;
	}

	.forgot_password {
		margin-left: auto;
		margin-right: auto;
	}

	.forgot_password .mdl-button {
		font-family: 'Montserrat', sans-serif;
	}

	.error {
		color: #C51162;
		font-size: 13px;
	}

	@media screen only and (min-width: 600px){
		.error, .failed, .intro {
			font-size: 20px;
		}
	}
	@media screen only and (min-width: 1200px){
		.error, .failed, .intro {
			font-size: 25px;
		}
	}
</style>
{% endblock style %}
{% block content %}
<br>
	<br>
	<br>
	<div class="mdl-grid">
		<div class="forgot_password mdl-cell mdl-cell--4-col mdl-cell--4-offset">
		<center>
		{% if success %}
		<p class="success">
			Yay! Your password has been reset. Check your mail fsssor the temporary password.
		</p>
		</center>
		{% else %}
		<p class="intro">Forgot your username or your password?
	Chill man. Its a no painnnner. Just enter your email</p>
			<form action="" method="POST">
			{% csrf_token %}
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="color: #424242;">
                {% render_field emailform.email class+="mdl-textfield__input" %}
                <div id="title_label">
                    <label class="mdl-textfield__label" for="sample3">Enter your email</label>
                </div>
            </div>
            {% if emailform.email.errors %}
                <br>
                    {% for err in emailform.email.errors %}
                    <center>
                        <p class="failed">{{err|escape}}</p>
                        </center>
                    {% endfor %}
                {% endif %}
                {% if notexist %}
                	<p class="error">
					This email ID is not registered.
					</p>
                {% endif %}
                <center>
               <div class="submit">
				<input class="submit mdl-button mdl-button--large mdl-js-button mdl-js-ripple-effect mdl-button--primary" type="submit" value="submit">
              </div>
            </center>
            </form>
            {% endif %}
        </div>
    </div>	
{% endblock content %}