{% load bleach_tags %} {% if instance.question %}
<!-- This is implies that the passes object is an answer -->
<div class="mdl-cell mdl-cell--12-col {{divclass}}">
    <div class="mdl-grid platform">
        <div class="mdl-cell mdl-cell--1-col voting">
            <div class="mdl-grid voting">
                <div class="mdl-cell mdl-cell--1-col votes">
                    <button data-url="{% url 'question_vote' instance.question.pk 'u' %}" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect upvote" data-id="{{instance.question.pk}}">
                    <i class="material-icons votecolor {% if request.user in instance.question.ups.all %} vote-success {% else %} vote-default {% endif %}" id="up{{ instance.question.pk }}">expand_less</i>
                    </button>
                </div>
                <div class="mdl-cell mdl-cell--1-col score" id="score{{instance.question.pk}}">
                    <center>{{ instance.question.points }}</center>
                </div>
                <div class="mdl-cell mdl-cell--1-col votes">
                    <button data-url="{% url 'question_vote' instance.question.pk 'd' %}" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect downvote" data-id="{{instance.question.pk}}">
                    <i class="material-icons votecolor {% if request.user in instance.question.downs.all %} vote-danger {% else %} vote-default {% endif %}" id="down{{instance.question.pk}}">expand_more</i>
                    </button>
                </div>
            </div>
        </div>

        <div class="title">
            <div class="date">Asked&nbsp{{ instance.question.created_time|timesince }} ago by <a href="{% url 'user' instance.question.author %}" class="authorlink">{{ instance.question.author }}</a>&nbsp&nbsp<small class="answers">{{ instance.question.answers }} Answers</small>
            </div>
            <a href="{% url 'thread' instance.question.pk %}" class="a_title">{{ instance.question.title }}</a> {% if instance.question.solved == True %}
            <i class="material-icons solved">check</i> {% endif %}
            <div class="tags">
                {% for tag in instance.question.tags.all %} #{{tag.name}} {% endfor %} &nbsp
            </div>
        </div>
    </div>
    <div class="mdl-grid platform platform_answer">
        <div class="mdl-cell mdl-cell--1-col answer_align_fix">
            <div class="mdl-grid voting-align_answer">
                    <div class="mdl-cell mdl-cell--1-col votes voting_align">
                            <button data-url="{% url 'answer_vote' instance.pk 'u' %}" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect ansUpvote" data-id="{{instance.pk}}">
                    <i class="material-icons votecolor {% if request.user in instance.ups.all %} vote-success {% else %} vote-default {% endif %} ansUp{{instance.pk}}">expand_less</i>
                    </button>
                    </div>
                    <div class="mdl-cell mdl-cell--1-col score ansScore{{instance.pk}}">
                        <center>{{ instance.points }}</center>
                    </div>
                    <div class="mdl-cell mdl-cell--1-col votes voting_align">
                            <button data-url="{% url 'answer_vote' instance.pk 'd' %}" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect ansDownvote" data-id="{{instance.pk}}">
                    <i class="material-icons votecolor{% if request.user in instance.downs.all %} vote-danger {% else %} vote-default {% endif %} ansDown{{instance.pk}}">expand_more</i>
                    </button>
                    </div>
                </div>
        </div>
        <div class="answer mdl-cell mdl-cell--12-col">
            <p>{{instance.description|bleach|truncatechars:300 }}
                <a href="{% url 'thread' instance.question.pk %}#a{{instance.pk}}" class="viewans"><br>View answer</a>
            </p>
        </div>
        {% if instance.question.edited == True%}<br>{% endif %}
        <div class="meta_parent">
            <div class="mdl-cell mdl-cell--5-col answer_author_meta">
                {% if instance.question.edited %} Answered by {{ instance.question.answer_author }} on {{ instance.question.get_time }} <br>Edited on {{instance.question.get_edited_time}} {% else %} Answered by {{ instance.question.answer_author }} on
                {{ instance.question.get_time }} {% endif %} {% if instance.question.answer_author == username %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% else %}
<!-- else its a question -->
<div class="mdl-cell mdl-cell--12-col {{divclass}}">
  <div class="mdl-grid platform">
      <div class="mdl-cell mdl-cell--1-col voting">
          <div class="mdl-grid voting">
              <div class="mdl-cell mdl-cell--1-col votes">
                      <button data-url="{% url 'question_vote' instance.pk 'u' %}" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect upvote">
              <i class="material-icons votecolor {% if request.user in instance.ups.all %} vote-success {% else %} vote-default {% endif %}"  data-id="{{instance.pk}}" id="up{{ instance.pk }}">expand_less</i>
              </button>
              </div>
              <div class="mdl-cell mdl-cell--1-col score" id="score{{instance.pk}}">
                  <center>{{ instance.points }}</center>
              </div>
              <div class="mdl-cell mdl-cell--1-col votes">
                      <button data-url="{% url 'question_vote' instance.pk 'd' %}" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect downvote" data-id="{{instance.pk}}">
              <i class="material-icons votecolor {% if request.user in instance.downs.all %} vote-danger {% else %} vote-default {% endif %}" id="down{{instance.pk}}">expand_more</i>
              </button>
              </div>
          </div>
      </div>

      <div class="title">
          <div class="date">Asked&nbsp{{ instance.created_time|timesince }} ago by <a href="{% url 'user' instance.author %}" class="authorlink">{{ instance.author }}</a>&nbsp&nbsp<small class="answers">{{ instance.answers }} Answers</small>
          </div>
          <a href="{% url 'thread' instance.pk %}" class="a_title">{{ instance.title }}</a> {% if instance.solved == True %}
          <i class="material-icons solved">check</i> {% endif %}
          <div class="tags">
           {% for t in instance.tags.all %}
                   <a href="{% url 'tags' t.name %}">#{{t.name}}</a>
              {% endfor %}
            &nbsp
          </div>
      </div>
  </div>
</div>
{% endif %}
