<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>uniqna</title>
    <!-- Stylesheet -->{% load static %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %} {% endblock %}
    <!-- Favicons -->
    {% include 'base/favicons.html' %}
    <!-- Open Graph -->
  </head>

  <body class="site">
      {% if user.is_authenticated %}
        {% include 'base/navbar.html' %}
      {% else %}
        {% include 'base/navbar_guest.html' %}
      {% endif %}
    <main class="site-content">
      {% block content %} {% endblock %}
    </main>
      <div class="level"></div>
      {% include 'base/footer.html' %}

    <!-- Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="{% static 'js/home.js' %}"></script> {% block js %} {% endblock %}
  </body>

  </html>
