{% extends 'base/base.html' %} {% load timesince_upto %} {% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
    <link rel="stylesheet" href="{% static 'css/twemoji-awesome.css' %}">
    <style>
    .route {
        display: none;
    }
    </style>
{% endblock head %}

{% block content %}

{% include 'base/user_statistics.html' %}

{% include 'base/user_card.html' %}
<div class="tabs is-fullwidth">
  <ul>
    <li class="is-active" data-to="posts"><a class="route-link">Posts</a></li>
    <li data-to="replies"><a class="route-link">Replies</a></li>
  </ul>
</div>
<div class="loading">
Loading...
</div>
<div class="route" id="posts">
    POSTS
</div>
<div class="route" id="replies">
    REPLIES
</div>
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/vote.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/notif_delete.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/submit.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock js %}
