{% load timesince_upto %} {% load bleach_tags %}
        <div class="box is-unselectable login-bg-is-white">
          <article class="media">
            <div class="media-left">
              <span class="upvote" data-url="{% url 'question_vote' x.pk 'u' %}" data-id="{{x.pk}}">
                <i class="material-icons arrow-align {% if request.user in x.ups.all %} vote-success {% else %} vote-default {% endif %}" id="up{{x.pk}}">keyboard_arrow_up</i>
              </span>
                  <div class="score" id="score{{x.pk}}"> {{ x.points }} </div>
              <span class="downvote" data-url="{% url 'question_vote' x.pk 'd' %}" data-id="{{x.pk}}">
                <i class="material-icons arrow-align {% if request.user in x.downs.all %} vote-danger {% else %} vote-default {% endif %}" id="down{{x.pk}}">keyboard_arrow_down</i>
              </span>
              {% if x.solved and x.metatype == "question" %}
                <i class="material-icons tick">done</i>
              {% endif %}
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <small class="author">@{{ x.author }}</small>
                  <small class="meta">{{ x.created_time|timesince|upto:',' }} ago</small>
                  <small class="replies">{{ x.answers }} replies</small>
                  {% if x.flair %}
                    <span class="tag is-success">{{ x.flair }}</span>
                  {% endif %}
                  <br>
                    <strong><a class="is-black" href="{% url 'thread' x.pk x.title|slugify %}">{{ x.title }}</a></strong>
                  <span class="next-line">
                  {% if x.description %}
                    {{ x.description|truncatechars:250|bleach }}
                  {% endif %}
                  </span>
                  <span class="next-line">
                  {% if x.channels.all %}
                    {% for c in x.channels.all %}
                      <small><a class="channel is-purple" href="{% url 'channel' c.name %}">#{{c.name}}</a></small>
                    {% endfor %}
                  {% endif %}
                  </span>
                </p>
              </div>
            </div>
          </article>
        </div>
