
      <nav class="level is-mobile">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Hot</p>
            <a href="{% url 'home' %}">
              <span class="icon is-large">
                <i class="twa twa-2x twa-fire"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Q&A</p>
            <a href="{% url 'tab' 'qna' %}">
              <span class="icon is-large">
                <i class="twa twa-2x twa-thinking"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Unsolved</p>
            <a href="{% url 'tab' 'nsy' %}">
              <span class="icon is-large">
                <i class="twa twa-2x twa-confounded"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Discussions</p>
            <a href="{% url 'tab' 'disc' %}">
              <span class="icon is-large">
                <i class="twa twa-2x twa-thought-balloon"></i>
              </span>
            </a>
          </div>
        </div>
      </nav>
