{% load widget_tweaks %}
<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Edit</p>
      <a class="button is-warning edit" v-on:click="changeText('edit')">
        <i class="material-icons">mode_edit</i>
      </a>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Mark as Solved</p>
      <a class="button is-success solved" v-on:click="changeText('solved', '{{ post.pk }}')" {% if post.solved %}disabled{% endif %}>
        <i class="material-icons">done</i>
      </a>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Delete</p>
      <a class="button is-danger trash" v-on:click="changeText('delete', '{{ post.pk }}')">
        <i class="material-icons">delete</i>
      </a>
    </div>
  </div>
</nav>

<div class="modal author-panel-modal">
  <div class="modal-background" v-bind:style="{ background: bgcolor }"></div>
  <div class="modal-content">
    <h1 class="title is-white">[ content ]</h1>
    <h2 class="subtitle is-white" style="margin-bottom: 8px;">[ subtitle ]</h2>
    <div v-if="toggleEdit">
      <div class="field">
        <label class="label is-white">Description</label>
        <p class="control">
          {% render_field edit_form.description type="textarea" class+="textarea" %}
        </p>
      </div><br>
    </div>
    <a class="button is-success" v-bind:href="url">
      [ button ]
    </a>
  </div>
  <button class="modal-close"></button>
</div>
