<section class="hero is-unselectable">
  <div class="hero-body narrow-padding">
    <div class="container">
      <h1 class="title">
        @{{ user }}
        {% if user.is_superuser %}
          🍃
        {% endif %}
      </h1>
      <h2 class="subtitle">
        {{ user.student.bio }}
      </h2>

      {% if user.username == request.user.username %}
        <a class="button is-warning" href="{% url 'edit_profile' request.user %}"><i class="material-icons">settings</i>&nbspManage</a> 
      {% endif %}
    </div>
  </div>
</section>
