.mdl-cell--12-col {
    background-color: #EEEEEE;
    height: 100px;
}

.platform {
    padding: 0px;
    height: 100px;
}

.title {
    margin-left: 0px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0px;
    font-size: 18px;
    width: calc(100% - 55px);
    color: #424242;
}

.a_title {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.votes {
    width: 43px;
    margin: 0px;
    margin-left: 9px;
}

.score {
    width: 100%;
}

.voting {
    padding: 0px;
    margin: 0px;
    width: 50px;
    height: 100%;
}

.solved {
    color: #009688;
    font-size: 18px;
    position: absolute;
    padding-left: 5px;
}

.statistics {
    color: #009688;
    font-size: 14px;
    width: 265px;
    margin-right: 7px;
    margin-left: 7px;
    float: right;
}

.ask {
    width: 135px;
    /* margin-right: auto; */
    margin-top: 5px;
    margin-left: 0px;
    text-align: center;
}

.askbutton {
    width: 100%;
    font-size: 14px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #009688;
}

.date {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #D81B60;
}

.authorlink {
    color: #D81B60;
}

.answers {
    margin-left: 0px;
    font-size: 11px;
    color: #009688;
}

.tags {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #673AB7;
}

.mdl-layout__header {
    box-shadow: none;
}

.endless_page_link {
    color: #424242;
    font-size: 30px;
}

.pagination {
    height: 60px;
    background: #FFFFFF;
    margin-bottom: 15px;
}

.jscroll-inner {
    width: 100%;
}

.padding-fix {
    padding-left: 0px;
    padding-right: 0px;
}

.pagination .mdl-button {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    background-color: #64B5F6;
}

.vote-default {
    color: #424242;
}

.vote-success {
    color: #4CAF50;
}

.vote-danger {
    color: #F44336;
}

.emoji-tabbed {
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -32px;
    margin-bottom: 0px;
}

.tags a {
    color: #673AB7;
}

.twa-fire {
    margin-left: 2px;
    margin-right: 2px;
}

.emoji-active {
    background-color: rgba(158, 158, 158, .4);
}

.thinking-align {
    margin-left: 2px;
    margin-right: 2px;
}

.twa-confounded {
    margin: 1px;
}

.twa-thought-balloon {
    margin-left: 3px;
    margin-right: 2px;
}

.emoji-buttons {
    font-size: 14px;
}

.overlay_height {
    height: 100%;
}

.create-fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    font-weight: 500;
    transition: all 0.20s ease-in;
    -webkit-transition: all 0.20s ease-in;
}

.question-fab {
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 10;
    font-weight: 500;
    font-size: 12px;
    color: #424242;
}

.discuss-fab {
    position: fixed;
    bottom: 180px;
    right: 20px;
    z-index: 10;
    font-size: 12px;
    color: #424242;
}

.fab-button {
    margin-left: 10px;
}

.help_align_fix {
    left: 48%;
}

.mdl-button--fab.mdl-button--colored {
    background: rgb(255, 204, 77);
    box-shadow: none;
}

.emoji-tabbed-form {
    display: inline;
}

.vote-default {
    color: #424242;
}
.vote-success {
    color: #4CAF50;
}
.vote-danger {
    color: #F44336;
}

@media (max-width: 840px) {
    .statistics {
        display: none;
    }
    .discuss {
        display: none;
    }
    .ask {
        display: none;
    }
}

@media (max-width: 479px) {
    .a_title {
        font-size: 12px;
    }
    .mdl-textfield__input {
        font-size: 15px;
        padding: 17px 0;
    }
    .answer p {
        font-size: 12px;
    }
    .answer_author_meta {
        font-size: 12px;
    }
    .emoji-tabbed {
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px;
    }
    .a_title {
        font-size: 11px;
    }
    .tags {
        font-size: 11px;
        padding-top: 3px;
    }
    .answers {
        font-size: 9px;
    }
    body {
        line-height: 15px;
    }
    .postsearchparent .mdl-button {
        text-transform: none;
    }
    .pagination {
      margin-bottom: 5px;
    }
}
