{% extends "base/base.html" %}
{% load staticfiles %}
{% block titlename %}
Edit Answer
{% endblock titlename %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.flexdatalist.min.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
{% endblock head %}
{% block style %}
<style>
 .editor-toolbar.fullscreen {
        position: absolute;
    }

    .CodeMirror-fullscreen {
        top: 115px;
    }

    .editor-preview a {
        color: #3949AB;
    }
	.submit {
        display: none;
    }
    .ask {
        font-family: 'Montserrat', sans-serif;
        color: #009688;
        font-size: 25px;
        font-size: 40px;
        min-width: 65px;
        height: 50px;
        width: 50px;
        min-width: 0px;
    }

    .ask_icon {
        font-size: 40px;
        left: 42% !important;
    }

    .ask:hover {
        background-color: 0;
    }

    .ask1 .mdl-button--icon .material-icons {
        left: 40%;
    }

    .flexdatalist-multiple {
        width: 50%;
    }

    .flexdatalist-alias {
        height: 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        outline: none;
        border: 2px dashed #CDDC39 !important;
        border-radius: 5px;
        padding: 5px !important;
    }

    .blank-error {
        color: #d50000;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin: 10px auto;
        font-weight: 800;
    }
</style>
{% endblock style %}
{% block content %}
 <div id="p3" class="mdl-progress mdl-js-progress"></div>
 <form action="{% url 'edit_answer_submit' thread_id answer_id %}" method="post">
    {{ form.description }} {% csrf_token %}
    <center>
        <input type="submit" name="submit" class="submit" value="Ask!">
        <button class="ask mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="submitdummy" value="Ask">
  <i class="ask_icon material-icons">send</i>
</button>
    </center><br>
</form>
{% endblock content %}
{% block js %}
 <script src="{% static 'js/simplemde.min.js' %}"></script>
<script src="{% static 'js/jquery.flexdatalist.min.js' %}"></script>
<script>
$(document).ready(function() {
        simplemde = new SimpleMDE({
            element: $("#id_description")[0],
            hideIcons: ["quote", "fullscreen", "side-by-side"],
            spellChecker: false,
            placeholder: "Type here...",
     });
});
</script>
{% endblock js %}