{% extends 'thread_templates/base.html' %} {% load bleach_tags %} {% block question %}

<center>
    {% if question.solved == False %}
    <div class="question_title mdl-cell mdl-cell--12-col">
        {{ question.title }}
    </div>
    {% else %}
    <div class="question_title_solved mdl-cell mdl-cell--12-col">
        {{ question.title }}
    </div>
    {% endif %}

    <div class="question_meta mdl-cell mdl-cell--12-col">
        <p> {% if question.metatype == "question" %}Asked{% else %}Submitted{% endif %} on {{ question.created_time|date:"d M, Y" }} by <a href="{% url 'user' question.author %}" class="question_meta">{{ question.author }}</a> </p>
    </div>
    {% if question.tags.all %}
    <div class="question_meta_tags mdl-cell mdl-cell--12-col">
        {% for t in question.tags.all %}
        <a href="{% url 'tags' t.name %}">#{{t.name}}</a> {% endfor %} &nbsp
    </div>
    {% endif %}
    <!--
    <div class="question_meta_answers mdl-cell mdl-cell--12-col">
        {{ question.views}}
    </div>
-->
</center>

{% if question.author == request.user.username %}
<center><a class="question_delete" href="{% url 'delete_question' question.pk %}">Delete?</a></center>
{% if question.solved == False %}
<center><a class="question_solved" href="{% url 'mark_answer_solved' question.pk %}">Mark as Solved?</a></center>
{% endif %} {% endif %}

<div class="question_description_parent mdl-cell mdl-cell--10-col">
    <div class="question_description mdl-cell mdl-cell--10-col">
        {{ description|bleach }}
    </div>
</div>

<div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-cell mdl-cell--2-col voting">
        <div class="mdl-grid voting">
            <div class="mdl-cell mdl-cell--1-col votesu">
                <button data-url="{% url 'question_vote' question.pk 'u' %}" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect upvote snackbar_show" data-id="{{question.pk}}">
                    <i class="material-icons votecolor {% if request.user in question.ups.all %} vote-success {% else %} vote-default {% endif %}" id="up{{ question.pk }}">expand_less</i>
                </button>
                {% if user.is_anonymous %}
                <script>
                var anonFlag = 1;
                </script>
                <div id="snackbar_reveals" class="mdl-js-snackbar mdl-snackbar">
                  <div class="mdl-snackbar__text"></div>
                  <button class="mdl-snackbar__action" type="button"></button>
                </div>
                {% endif %}
            </div>
            <div class="mdl-cell mdl-cell--1-col score" id="score{{question.pk}}">
                <center>{{ question.points }}</center>
            </div>
            <div class="mdl-cell mdl-cell--1-col votesd">
                <button data-url="{% url 'question_vote' question.pk 'd' %}" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect downvote mdl-snackbar__action snackbar_show" data-id="{{question.pk}}">
                    <i class="material-icons votecolor {% if request.user in question.downs.all %} vote-danger {% else %} vote-default {% endif %}" id="down{{question.pk}}">expand_more</i>
                </button>
            </div>
        </div>
    </div>
</div>

<center>
    <div class="can_you_help">
      {% if user.is_anonymous %}
        <p>Please <a href="{% url 'home' %}" style="color:#3f51b5">login</a> to contribute to this discussion!<p>
      {% else %}
        <p>Can you help? This forum depends on everyone sharing their knowledge. If you're able to answer this question, please do!</p>
      {% endif %}
    </div>
</center>

{% if user.is_authenticated %}
<script>
var anonFlag = 0;
</script>
<div class="writeanswer">
    <form action="answer/" method="post">
        <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--4-col-phone">
            {{ form.description }} {% csrf_token %}
        </div>
        <center>
            <div class="ask1">
            <input type="submit" name="submit" class="submit" value="">
            <button class="ask mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="submitdummy" value="Ask">
            <i class="ask_icon material-icons">send</i>
            </button>
            </div>
        </center>
    </form>
</div>
<br>
{% endif %}
<br>
{% load bleach_tags %} {% for x in all_answers %}

<!-- -->

<div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-grid platform answer_parent">
        <div class="answer_voting_parent mdl-cell mdl-cell--1-col">
            <div class="mdl-grid voting-align">
                <div class="mdl-cell mdl-cell--1-col votes voting_align answer_vote_size">
                    <button data-url="{% url 'answer_vote' x.pk 'u' %}" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect ansUpvote snackbar_show" data-id="{{x.pk}}">
                    <i class="material-icons votecolor {% if request.user in x.ups.all %} vote-success {% else %} vote-default {% endif %}" id="ansUp{{ x.pk }}">expand_less</i>
                    </button>
                </div>
                <div class="mdl-cell mdl-cell--1-col score answer_score_size" id="ansScore{{x.pk}}">
                    <center>{{ x.points }}</center>
                </div>
                <div class="mdl-cell mdl-cell--1-col votes voting_align answer_vote_size">
                    <button data-url="{% url 'answer_vote' x.pk 'd' %}" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect ansDownvote snackbar_show" data-id="{{x.pk}}">
                    <i class="material-icons votecolor{% if request.user in x.downs.all %} vote-danger {% else %} vote-default {% endif %}" id="ansDown{{x.pk}}">expand_more</i>
                    </button>
                </div>
            </div>
        </div>

        <div class="answer">
            <div class="mdl-cell mdl-cell--5-col answer_author_meta">
                {% if x.edited %}@<a href="{% url 'user' x.answer_author %}" class="userlinks">{{ x.answer_author }}</a>
                <a class="answer_meta_time">{{ x.created_time }}*</a>
                <!--<br>Edited on {{x.get_edited_time}}-->
                {% else %}
                <a href="{% url 'user' x.answer_author %}" class="userlinks">@{{ x.answer_author }}</a> <a class="answer_meta_time">{{ x.created_time }}</a> {% endif %}
                <a id="clipboard_{{ x.pk }}" class="clipboard_button" data-clipboard-text="https://uniqna.com{% url 'thread' question.pk %}#a{{x.pk}}" data-id="{{x.pk}}">
                <i class="material-icons link_clipboard">link</i>
              </a>
                <div class="mdl-tooltip" for="clipboard_{{ x.pk }}">
                  <span id="aspan{{x.pk}}">Permalink</span>
                </div>
            </div>
            <div class="answer_description" id="a{{x.pk}}">
                <br> <div class="answer_description_align"> {{ x.description|bleach }} </div>
            </div>
            {% if x.edited == True%}<br>{% endif %} {% if x.answer_author == request.user.username %}
            <div class="meta_parent">
                <div class="answer_user">
                    <a class="question_delete" href="{% url 'delete_answer' question.pk x.pk %}" class="btn btn-danger">Delete</a> |
                    <a style="color: #757575; " href="{% url 'edit_answer' question.pk x.pk %}" class="btn btn-success">Edit</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
<style type="text/css">
    .vote-default {
        color: #424242;
    }
    .vote-success {
        color: #4CAF50;
    }
    .vote-danger {
        color: #F44336;
    }
</style>
<!-- -->
{% endblock %}
