{% extends 'thread_templates/base.html' %}
{% load bleach_tags %}

{% block question %}

<center><h1>{{ question.title }}</h1> {% if question.solved == True %} <span class="label label-success">Solved</span> {% endif %}
<a href="{% url 'user' question.author %}" class="text-info">{{ question.author }}</a>
</center>
{{ description|bleach }}
<p>Question asked on {{ question.get_time }}</p>

{% if question.author == username %}
  <center><a href="{% url 'delete_question' question.pk %}">Delete?</a></center>
  {% if question.solved == False %}
  <center><a href="{% url 'mark_answer_solved' question.pk %}" class="btn btn-success">Mark as Solved?</a></center>
  {% endif %}
{% endif %}

{% endblock %}
