{% extends 'thread_templates/base.html' %} {% load bleach_tags %} {% block question %}

<center>
    {% if question.solved == False %}
    <div class="question_title mdl-cell mdl-cell--12-col">
        {{ question.title }}
    </div>
    {% else %}
    <div class="question_title_solved mdl-cell mdl-cell--12-col">
        {{ question.title }}
    </div>
    {% endif %}

    <div class="question_meta mdl-cell mdl-cell--12-col">
        <p> Asked {{ question.created_time|timesince }} ago by <a href="{% url 'user' question.author %}" class="question_meta">{{ question.author }}</a> </p>
    </div>
    <div class="question_meta_answers mdl-cell mdl-cell--12-col">
        {{ question.views}}
    </div>
</center>

{% if question.author == username %}
<center><a class="question_delete" href="{% url 'delete_question' question.pk %}">Delete?</a></center>
{% if question.solved == False %}
<center><a class="question_solved" href="{% url 'mark_answer_solved' question.pk %}">Mark as Solved?</a></center>
{% endif %} {% endif %}

<div class="question_description_parent mdl-cell mdl-cell--10-col">
    <div class="question_description mdl-cell mdl-cell--10-col">
        {{ description|bleach }}
    </div>
</div>

<div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-cell mdl-cell--2-col voting">
        <div class="mdl-grid voting">
            <div class="mdl-cell mdl-cell--1-col votesu">
                <form action="">
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
                    <i class="material-icons votecolor ">expand_less</i>
                    </button>
                </form>
            </div>
            <div class="mdl-cell mdl-cell--1-col score">
                <center>{{ question.points }}</center>
            </div>
            <div class="mdl-cell mdl-cell--1-col votesd">
                <form action="">
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
                    <i class="material-icons votecolor">expand_more</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<center>
    <p>Can you help? This forum depends on everyone sharing their knowledge. If you're able to answer this question, please do!</p>
</center>
<form action="answer/" method="post">
    <div class="mdl-cell mdl-cell--12-col">
        {{ form.description }} {% csrf_token %}
    </div>
    <center>
    <div class="ask1">
      <button class="ask mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" type="submit" value="Ask">
        <i class="ask_icon material-icons">send</i>
      </button>
    </div>
  </center>
</form>

<br><br> {% load bleach_tags %} {% for x in all_answers %}

<!-- -->

<div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-grid platform answer_parent">
        <div class="mdl-cell mdl-cell--1-col">
            <div class="mdl-grid voting_align">
                <div class="mdl-cell mdl-cell--1-col votes voting_align">
                    <form action="">
                        <button type="submit" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
                <i class="material-icons votecolor ">expand_less</i>
                </button>
                    </form>
                </div>
                <div class="mdl-cell mdl-cell--1-col score">
                    <center>{{x.points}}</center>
                </div>
                <div class="mdl-cell mdl-cell--1-col votes voting_align">
                    <form action="">
                        <button type="submit" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
                <i class="material-icons votecolor">expand_more</i>
                </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="answer">
          <div class="answer_description">
            {{ x|bleach }}
          </div>
            {% if x.edited == True%}<br>{% endif %}
            <div class="meta_parent">
            <div class="mdl-cell mdl-cell--5-col answer_author_meta">
                {% if x.edited %} Answered by {{ x.answer_author }} on {{ x.get_time }} <br>Edited on {{x.get_edited_time}} {% else %}
                 Answered by {{ x.answer_author }} on {{ x.get_time }} {% endif %} {% if x.answer_author == username %}
            </div>
            <div class="answer_user">
              {% if x.edited == False%} {% endif %}
                <a class="question_delete" href="{% url 'delete_answer' question.pk x.pk %}" class="btn btn-danger">Delete</a> |
                <a style="color: #757575; " href="{% url 'edit_answer' question.pk x.pk %}" class="btn btn-success">Edit</a>{% if x.edited == False%}
                 {% endif %}
            </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
<!-- -->
{% endblock %}