.mdl-layout__content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.mdl-mini-footer {
    display: block;
}

.navbar_logo {
    width: 85px;
}

.notifications {
    width: 50px;
    height: 50px;
}

.mdl-badge[data-badge]:after {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    opacity: 1;
    -webkit-transition: opacity .20s ease-in;
    transition: opacity .20s ease-in;
}

.mdl-layout__title, .mdl-layout-title {
    line-height: 1.6;
}

.mdl-layout__header {
    box-shadow: none;
}

@media (max-width: 320px) {
    .title .date {
        font-size: 9px;
    }
}

@media (max-width: 479px) {
    .mdl-mini-footer--link-list, .mdl-mini-footer__link-list {
        display: block;
    }
    .mdl-mini-footer--link-list, .mdl-mini-footer__link-list a {
        white-space: normal;
    }
}

html, body {
    font-family: 'Montserrat', sans-serif;
}

.mdl-layout__title, .mdl-layout-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1.8;
    right: 60px;
}

.mdl-menu__item {
    color: #424242;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 100;
    text-decoration: none;
}

.mdl-textfield {
    width: 100%;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
}

.mdl-textfield__input {
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px 0;
    color: #424242;
}

.mdl-textfield__label {
    text-align: center;
}

.mdl-menu__item {
    font-family: 'Montserrat', sans-serif;
}
