.searchparent {
    padding: 5px;
    margin: 0px;
    height: 75px;
    background-color: #F5F5F5;
}

.search {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
}

.searchform {
    height: 100%;
}

.searchbottommargin {
    padding: 22px 0;
}

.searchbottommargin2 {
    border-bottom: none;
}

.postsearchparent {
    height: 40px;
    padding-bottom: 0px;
}

.postsearch {
    height: 100%;
    margin: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-left: auto;
}

@media (max-width: 479px) and (min-width: 320px) {
    .ask {
        position: relative;
        margin: 0px;
        width: 100%;
        height: 56px;
        padding-top: 17px;
    }
    .statistics {
        color: #009688;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        font-size: 12px;
        text-align: center;
    }
    .postsearchparent {
        height: 10px;
        padding-bottom: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .postsearch {
        height: 37.5px;
        margin-left: auto;
        margin-right: auto;
    }
    .askbutton {
        width: 100%;
        font-size: 12px;
        height: 100%;
        font-family: 'Montserrat', sans-serif;
        font-size: 23px;
        color: #009688;
    }
    .a_title {
        font-size: 12px;
    }
    .mdl-textfield__input {
        font-size: 15px;
        padding: 17px 0;
    }
}

@media (max-width: 320px) {
    .answers {
      font-size: 9px;
    }
    .tags {
      font-size: 10px;
    }
    body {
      font-size: 12px;
    }
    ul {
      font-size: 12px;
    }
    .results_true {
      font-size: 12px;
    }
    .a_title {
      font-size: 11px;
    }
}
