{% extends "base/base.html" %}
{% block titlename %}#{{channel.name}}{% endblock titlename %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css" href='{% static "css/home/home.css" %}'>
{% endblock head %}
{% block style %}
<style>
	 h3 {
      color: #673AB7;
      font-family: 'Montserrat', sans-serif;
    }
    .results_true {
      font-size: 14px;
      color: #009688;
      font-family: 'Montserrat', sans-serif;
    }
</style>
{% endblock style %}
{% block content %}
<center>
  <h3>#{{ channel.name }}</h3>
{% if channel.question_set.count %}
    <h5 class="results_true">{{channel.question_set.count}} post{{channel.question_set.count|pluralize}} so far </h5>
{% else %}
    <h5 class="results_true">No posts yet</h5>
  {% endif %}
  </center>
  {% for q in channel.question_set.all %}
  {% include "user_templates/ques_ans.html" with instance=q %}
 {% endfor %}
{% endblock content %}
{% block js %}
<script src="{% static 'js/vote.js' %}"></script>
{% endblock js %}
