{% extends 'home_templates/base.html' %}
{% block frontpage %}
<style>
.question {
  position: absolute;
}
.vote {
  position: relative;
}
.up {
  top: 3px;
  left:0px;
}
.down {
  top: 9px;
  left:0px;
}
.points {
  top: 6px;
  left:0px;
}
</style>
  {% for x in question_list %}
  <div class="questions">
  <a href="{% url 'qvote' x.pk 'u'%}" class="vote" id="up"><span class="glyphicon glyphicon-chevron-up"></span></a>
  <span class="points">{{ x.points }}</span>
  <a href="{% url 'qvote' x.pk 'd'%}" class="vote" id="down"><span class="glyphicon glyphicon-chevron-down"></span></a>
    <a href="{% url 'thread' x.pk %}">{{ x }}</a> | Answers: {{ x.answers }} | Popularity: {{ x.popularity }}
    <hr>
  </div>
  {% endfor %}
{% endblock %}
