{% extends 'base/base.html' %} {% load timesince_upto %} {% load el_pagination_tags %} {% load staticfiles %}
<!-- 
Here the blocks title and desc have the default values 
-->
{% block head %}
<link rel="stylesheet" href="{% static 'css/twemoji-awesome.css' %}"> 
<link rel="stylesheet" href="{% static 'css/home/home.css' %}"> 

{% endblock head %}{% block content %}
<div class="mdl-grid postsearchparent">
    <div class="mdl-cell mdl-cell--2-col ask">
        <form action="{% url 'ask' %}">
            <button type="submit" class="mdl-button mdl-js-button askbutton mdl-js-ripple-effect mdl-cell--hide-tablet mdl-cell--hide-phone">
                +Question?
            </button>
        </form>
    </div>
    <div class="mdl-cell mdl-cell--2-col ask discuss">
        <form action="{% url 'discuss' %}">
            <button type="submit" class="mdl-button mdl-js-button askbutton mdl-js-ripple-effect mdl-cell--hide-tablet mdl-cell--hide-phone">
                +Discussion!
            </button>
        </form>
    </div>
    <div class="mdl-cell mdl-cell--3-col postsearch">
        <div class="mdl-cell mdl-cell--3-col statistics">
            {{ no_of_questions }} Questions {{ no_of_answers }} Answers {{ no_of_solved_percentage }}% Solved
        </div>
    </div>
</div>
<div class="mdl-cell mdl-cell--2-col emoji-tabbed">
    <form class="emoji-tabbed-form" action="{% url 'home' %}">
        <button id="hot" class="mdl-button mdl-js-button mdl-button--icon emoji-buttons mdl-js-ripple-effect {% if tab == " home " %}emoji-active{% endif %}">
            <i class="twa twa-2x twa-fire"></i>
        </button>
    </form>
    <div class="mdl-tooltip" data-mdl-for="hot">
        Hot
    </div>
    <form class="emoji-tabbed-form" action="{% url 'tab' 'qna' %}">
        <button id="qna" class="mdl-button mdl-js-button mdl-button--icon emoji-buttons mdl-js-ripple-effect {% if tab == " qna " %}emoji-active{% endif %}">
            <i class="twa twa-2x twa-thinking thinking-align"></i>
        </button>
    </form>
    <div class="mdl-tooltip" data-mdl-for="qna">
        Q&A
    </div>
    <form class="emoji-tabbed-form" action="{% url 'tab' 'nsy' %}">
        <button id="nsy" class="mdl-button mdl-js-button mdl-button--icon emoji-buttons mdl-js-ripple-effect {% if tab == " nsy " %}emoji-active{% endif %}">
            <i class="twa twa-2x twa-confounded"></i>
        </button>
    </form>
    <div class="mdl-tooltip" data-mdl-for="nsy">
        Not Solved Yet
    </div>
    <form class="emoji-tabbed-form" action="{% url 'tab' 'disc' %}">
        <button id="discussions" class="mdl-button mdl-js-button mdl-button--icon emoji-buttons mdl-js-ripple-effect {% if tab == " disc " %}emoji-active{% endif %}">
            <i class="twa twa-2x twa-thought-balloon"></i>
        </button>
    </form>
    <div class="mdl-tooltip" data-mdl-for="discussions">
        Discussions
    </div>
</div>
<div class="mdl-grid padding-fix" id="infini">
    {% paginate question_list%} {% for x in question_list %} {% include 'home_templates/questions.html' %} {% endfor %} {% get_pages %}
    <div class="mdl-cell mdl-cell--12-col pagination iquestion" id="pagination">
        <center>
            <br> {{ pages.next }} </center>
    </div>
</div>
{% endblock content %} {% block afterfooter %}
<div class="fab-buttons mdl-cell--hide-desktop">
    <div class="question-fab hidden-fab" data-url="{% url 'ask' %}">
        Ask a question?
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored fab-button">
            <i class="material-icons help_align_fix">help_outline</i>
        </button>
    </div>
    <div class="discuss-fab hidden-fab" data-url="{% url 'discuss' %}">
        Start a discussion!
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored fab-button">
            <i class="material-icons">question_answer</i>
        </button>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored create-fab">
        <i class="material-icons">mode_edit</i>
    </button>
</div>
<div class="overlay"></div>
{% endblock afterfooter %} {% block js %}
<script src="{% static 'js/jquery.jscroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home/home.js' %}"></script>
{% endblock js %}
