{% extends "base/base.html" %}
{% block title %}#{{tags.name}}{% endblock title %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css" href='{% static "css/home/home.css" %}'>
{% endblock head %}
{% block style %}
<style>
	 h3 {
      color: #673AB7;
      font-family: 'Montserrat', sans-serif;
    }
    .results_true {
      font-size: 14px;
      color: #009688;
      font-family: 'Montserrat', sans-serif;
    }	
</style>
{% endblock style %}
{% block content %}
<center>
  <h3>#{{ tags.name }}</h3>
{% if tags.question_set.count %}
    <h5 class="results_true">{{tags.question_set.count}} post{{tags.question_set.count|pluralize}} so far </h5>
{% else %}
    <h5 class="results_true">No posts yet</h5>
  {% endif %}
  </center>
  {% for q in tags.question_set.all %}
  {% include "user_templates/ques_ans.html" with instance=q %}
 {% endfor %}
{% endblock content %}
{% block js %}
        <script type="text/javascript">
        $(".upvote").click(function(){
            vote_url = $(this).data("url");
            id = $(this).data("id");
           $.get(vote_url, function(data, status){
                $("#up"+id).toggleClass("vote-default").toggleClass("vote-success");
                $("#down"+id).removeClass("vote-danger").addClass("vote-default")
                $("#score"+id).children()[0].textContent = data.points;
           });
        });
        $(".downvote").click(function(){
            vote_url = $(this).data("url");
            id = $(this).data("id");
           $.get(vote_url, function(data, status){
                $("#down"+id).toggleClass("vote-default").toggleClass("vote-danger");
                $("#up"+id).removeClass("vote-success").addClass("vote-default");
                $("#score"+id).children()[0].textContent = data.points;
           });
        });
</script>
{% endblock js %}