<div class="mdl-grid searchparent">
    <div class="mdl-cell mdl-cell--12-col search">

        <form method = "GET" action="{% url 'search' %}" class="searchform">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label searchbottommargin">
                <input class="mdl-textfield__input searchbottommargin2" type="text" name="query">
                <label class="mdl-textfield__label" for="sample3"><i class="material-icons">search</i></label>
            </div>
        </form>

    </div>
</div>
