{% extends 'ask_templates/base.html' %} {% load widget_tweaks %} {% load staticfiles %}{% block content %}
<form action="{% url 'question_submit' %}" method="post">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        {% render_field form.title class+="mdl-textfield__input" %}
        <div id="title_label">
            <label class="mdl-textfield__label" for="sample3">Title of your Question?</label>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--4-col-phone">
        {{ form.description }} {% csrf_token %}
    </div>
    <div class="mdl-cell mdl-cell--3-col answer_discussion_choice">
    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect radio_question" for="option-1">
  <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>
  <span class="mdl-radio__label">Question</span>
</label>
<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
  <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2">
  <span class="mdl-radio__label">Discussion</span>
</label>
</div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--4-col-phone">
            <input type='text' placeholder='Select the tags' id="tags_input" class='flexdatalist' data-min-length='1' data-selection-required="1" data-value-property='id' multiple='multiple' list='tags' name='selectedtags' width="200">

            <datalist id="tags">
        {% for tag in tags %}
            <option value="{{tag.id}}">{{tag.name}}</option>
        {% endfor %}
      </datalist>
        </div>
    </div>
    <center>
        <div class="mdl-cell mdl-cell--6-col">
            <a href="#" class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect" id="addtag">   +Add new tag</a>
            <div class="tagcreated">
                <p class="mdl-button mdl-button--accent">Tag Created</p>
            </div>
            <div id="newtagdiv">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="new_tag" id="newtag" style="text-transform: lowercase;" pattern=".{1,15}">
                    <label class="tags_label mdl-textfield__label" for="sample3">Enter new tag name</label>
                </div><br>
                <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" id="create_tag">Add tag</a>
            </div>
        </div>
        <input type="submit" name="submit" class="submit" value="Ask!">
        <button class="ask mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="submitdummy" value="Ask">
      <i class="ask_icon material-icons">send</i>
    </button>
    </center><br>
</form>
{% endblock %} {% block script %}
<script src="{% static 'js/notyf.js' %}"></script>
<script>
    //Initializing simplemde object
    var simplemde;

    //Default progress bar
    document.querySelector('#p3').addEventListener('mdl-componentupgraded', function() {
        this.MaterialProgress.setProgress(0);
        this.MaterialProgress.setBuffer(0);
    });

    $(document).ready(function() {
        simplemde = new SimpleMDE({
            element: $("[name=description]")[1],
            hideIcons: ["quote", "fullscreen"],
            spellChecker: false,
            placeholder: "A follow up description...",
        });
    });

    //Add new tag
    $("#newtagdiv").hide();
    $(".tagcreated").hide();
    $(".blank-error").hide();
    $("#addtag").click(function() {
        $("#newtagdiv").show();
    });

    //Getting csrf token from stored cookie
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    //Attachign the token to the rest header
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    //Update Progress
    $(document).ready(function() {
        $(".CodeMirror-scroll").blur(function() {
            if (simplemde.value()) {
                $("#p3")[0].MaterialProgress.setBuffer(100)
            }
        })
    });

    //Replace spaces while creating tags with underscore
    $("#newtag").on("keyup", function(e) {
        vals = this.value;
        modified = vals.replace(/ /g, '_');
        if (vals != modified) {
            this.value = modified;
        }
    });

    //Create Tag
    var purl = "{% url 'CreateTag' %}";
    var fail;
    $("#create_tag").click(function() {
        var data = {
            "name": $("#newtag").val()
        }
        $.post(purl, data, function(data, status) {
            document.getElementById("newtag").value = ""
            $(".tagcreated").fadeIn(2000).fadeOut(2000);
            $("#newtagdiv").hide()
            document.getElementById("tags_input").value = document.getElementById("tags_input").value + "," + data.name
            $(".flexdatalist-multiple").prepend("<li class='value'><span class='text'>" + data.name + "</span><span class='fdl-remove custom-remove' data-name='" + data.name + "'>×</span></li>");
            $(".custom-remove").off("click");
            $(".custom-remove").on("click", function() {
                var container = $(this).parent();
                var _vals = document.getElementById("tags_input").value.split(",");
                var toRemove = _vals.indexOf($(this).data("name"));
                _vals.splice(toRemove, 1);
                document.getElementById("tags_input").value = _vals.join(",");
                container.remove();
            });
        }).fail(function(data) {
            alert("Tag already exists");
        })
    });

    //Get suggested tags and append to #suggested.
    var surl = "{% url 'SuggestTag' %}";
    $(".mdl-textfield__input").blur(function() {
        if ($(this).val()) {
            $("#p3")[0].MaterialProgress.setBuffer(50);
            $.post(surl, {
                "text": $(this).val()
            }, function(data, status) {
                if (data.length) {
                    vals = document.getElementById("tags_input").value.split(",");

                    function validateData(obj) {
                        for (i = 0; i < vals.length; i++) {
                            if (obj.name == vals[i]) {
                                return 0;
                            }
                        }
                        return 1;
                    }
                    var validated = data.filter(validateData);
                    for (var i = 0; i < (validated.length); i++) {
                        vals.push(validated[i].name);
                        $(".flexdatalist-multiple").prepend("<li class='value'><span class='text'>" + validated[i].name + "</span><span class='fdl-remove custom-remove' data-name='" + validated[i].name + "'>×</span></li>");
                    }
                    document.getElementById("tags_input").value = vals.join(",");
                    $(".custom-remove").off("click");
                    $(".custom-remove").on("click", function() {
                        var container = $(this).parent();
                        var _vals = document.getElementById("tags_input").value.split(",");
                        var toRemove = _vals.indexOf($(this).data("name"));
                        _vals.splice(toRemove, 1);
                        alert(toRemove + " " + _vals);
                        document.getElementById("tags_input").value = _vals.join(",");
                        container.remove();
                    });
                }
            });
        }
    });

    //Client side error
    var n = new Notyf({
        delay: 5000
    });

    //Submit the question
    $(".submit").hide();
    $('#submitdummy').on("click", function(e) {
        e.preventDefault();
        flag = 1;
        if ($("#id_title").val() == "") {
            n.alert("Please enter a Title")
            flag = 0;
        }
        if ($("#id_title").val().length <= 10 && $("#id_title").val().length != "") {
            n.alert("Title is too short")
            flag = 0;
        }
        if (simplemde.value() == "") {
            n.alert("Please enter a Description")
            flag = 0;
        }
        if (flag) {
            $(".submit").click();
        }

    });
</script>
{% endblock script %}
