{% extends 'ask_templates/base.html' %}
{% load widget_tweaks %}
{% block content %}
<form action="{% url 'question_submit' %}" method="post">
     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      {% render_field form.title class+="mdl-textfield__input" %}
      <label class="mdl-textfield__label" for="sample3">Title of your Question?</label>
     </div>
     <div class="trumbowyg-demo">
     {{ form.description }}
     </div>
<strong>Suggested tags:   </strong>
     	{% for tag in tags %}
     		<label>
     		<input type="checkbox" name="tag" value="{{ tag.id }}"> {{ tag.name }}
     		</label>
     	{% endfor %}
     	<a href="#" id="addtag">   +Add new tag</a>
        <div id="newtagdiv">
        <label for="newtab">Enter new tag name:</label>
        <input type="text" name="new_tag" id="newtag">
        <input type="submit" name="AddTag" value="Add Tag">
        </div>
		     {% csrf_token %}
     <center><input class = "mdl-button mdl-js-button mdl-button--primary mdl-js-button" type="submit" value="Ask"></center>
     <br>
 </form>
 {% endblock %}
{% block script %}
    $("#newtagdiv").hide();
    $("#addtag").click(function(){
        $("#newtagdiv").show();
    })
{% endblock script %}