{% extends "base/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}
Ask a question!
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.flexdatalist.min.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/notyf.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/ask/ask.css' %}">
{% endblock head %}
{% block content %}
<div id="p3" class="mdl-progress mdl-js-progress"></div>
<form action="{% url 'submit' metatype %}" method="post">
	<div class="suggest-url" style="display:none" data-url="{% url 'SuggestTag' %}"></div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        {% render_field form.title class+="mdl-textfield__input" %}
        <div id="title_label">
          {% if metatype == "question" %}
            <label class="mdl-textfield__label" for="sample3">Title of your Question?</label>
          {% else %}
            <label class="mdl-textfield__label" for="sample3">Title of your Discussion?</label>
          {% endif %}
        </div>
    </div>
    <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--4-col-phone">
        {{ form.description }} {% csrf_token %}
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--4-col-phone">
            <input type='text' placeholder='Select the tags' id="tags_input" class='flexdatalist' data-min-length='1' data-selection-required="1" data-value-property='id' multiple='multiple' list='tags' name='selectedtags' width="200">

            <datalist id="tags">
        {% for tag in tags %}
            <option value="{{tag.id}}">{{tag.name}}</option>
        {% endfor %}
      </datalist>
        </div>
    </div>
    <center>
        <div class="mdl-cell mdl-cell--6-col">
            <a href="#" class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect" id="addtag">   +Add new tag</a>
            <div class="tagcreated">
                <p class="mdl-button mdl-button--accent">Tag Created</p>
            </div>
            <div id="newtagdiv">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="new_tag" id="newtag" style="text-transform: lowercase;" pattern=".{1,15}">
                    <label class="tags_label mdl-textfield__label" for="sample3">Enter new tag name</label>
                </div><br>
                <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" id="create_tag" data-url="{% url 'CreateTag' %}">Add tag</a>
            </div>
        </div>
        <input type="submit" name="submit" class="submit" value="Ask!">
        <button class="ask mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="submitdummy" value="Ask">
      <i class="ask_icon material-icons">send</i>
    </button>
    </center><br>
</form>
{% endblock content %}
{% block js %}
<script src="{% static 'js/simplemde.min.js' %}"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/jquery.flexdatalist.min.js' %}"></script>
<script src="{% static 'js/notyf.js' %}"></script>
<script src="{% static 'js/ask/ask.js' %}"></script>
{% endblock js %}