{% extends "login_templates/base.html" %} {% load static %} {% block body %}
<div class="motto mdl-cell mdl-cell--6-col mdl-cell--6-offset mdl-cell--middle">
<br><center><p>Suh dude?<i class="twa twa-2x twa-v"></i> Got a question?</i></p></center><br>
</div>
  <div class="brand mdl-cell mdl-cell--4-col mdl-cell--4-offset mdl-cell--middle">
    <img src="{% static 'assets/logo.svg' %}"/>
</div>
{% if failed %}
    <center>
   <div class="fail">
       <p class="mdl-button mdl-button--accent">Incorrect Username or Password</p>
   </div>
   </center>
{% endif %}
<div class="mdl-grid" id="formdiv">
    <div class="login_form mdl-cell mdl-cell--4-col mdl-cell--4-offset mdl-cell--middle">
        <form method="post" action="">
            <center>
                {% csrf_token %}
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="username" name="username">
                    <label class="mdl-textfield__label" for="sample1">Username</label>
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" id="password" name="password">
                    <label class="mdl-textfield__label" for="sample2">Password</label>
                </div>
                <br>
                <button class="submit mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary">Login</button>
                <input type="submit" class="login mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" value="login" />
        </form>
        <br>
        <p>Not a user? <a href="{% url 'register' %}" class="register">Register now!</a></p>
        <p>Forgot your password? <a href="{% url 'forgot' %}" class="register">Click here!</a></p>
        </center>
    </div>
</div>
<style type="text/css">
    #formdiv {
        margin: auto 0px;
    }
    .register {
        color: #E91E63;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'js/notyf.js' %}"></script>
<script type="text/javascript">
    var n = new Notyf({delay:5000});
    $(".login").hide();
    $('.submit').on("click", function(e){
        e.preventDefault();
        flag = 1;
        if($("#username").val()==""){
            n.alert("Username is blank.")
            flag=0;
        }
        if($("#password").val()==""){
            n.alert("Password is blank.")
            flag=0;
        }
        if(flag){
            $(".login").click();
        }

    });
</script>
<style type="text/css">
    .notyf {
        bottom: 110px;
    }
    @media (max-width: 900px){
        .notyf {
            bottom: 50px;
            width: 40%;
        }
    }
    @media (max-width: 400px){
        .notyf {
            bottom: 30px;
            font-size: 12px;
            width: 50%;
        }
    }
</style>
{% endblock body %}}
