{% extends "login_templates/base.html" %}
{% block body %}
{% load widget_tweaks %}
<style type="text/css">
</style>
<div class="mdl-grid">
<div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset" id="formy">
<center>
  <form action="/register/" method="post">
  {% csrf_token %}
  {{ regform.as_p }}
  <input type="submit" value="Submit">
  </form>
  </center>
</div>
</div>
{% endblock body %}
<!--
<p>
    {% render_field form.username class+="input-lg" %}
    {{ form.username.errors }}
</p>
<p>
    {% render_field form.password %}
    {{ form.password.errors }}
</p>
-->