{% extends "email_templates/base.html" %}
{% block content %}
<div style="width:60%; background-color: #eee; padding: 20px;">
<p> Oops forgot your password? </p>
<p> No worries, we have got you covered. </p>
<p> Here's an alternate password for you to login. </p>
<div style="width: 20%; padding: 10px; border: 2px solid #aaa; color: #D81B60; border-radius: 4px; font-size: 20px;"> 
{{ password }}
</div>
<p> Remember to change it as soon as you log in. </p>
<a href="https://uniqna.com" target="blank" style="text-decoration: none; color: #3F51B5">Click here to login</a>
</div>
{% endblock content %}
