{% extends "email_templates/base.html" %}
{% block content %}
<div style="padding: 20px; width: 60%; background-color: #eee">
<p>Hey {{username}}</p>
<p>Welcome to <strong>uniqna</strong></p>
<p style="font-size: 18px;">What is uniqna?</p>
<p>uniqna is a thriving online community for all your university specific needs.</p>
<p>
Wanna get a doubt cleared? Post a question.
<br />
Wanna debate over something? Post a discussion.
<br />
Wanna stay tuned to the latest events? Watch over a channel.
<br />
And lot's more...
</p>
<!--
Add more sexy bs here @jeremy
-->
<p>Created by two homosapiens (are we?) studying in VIT.</p>
<p style="font-size: 12px">
Are you a coder like us? 
Are you interested in making uniqna better?
<br />
Then don't hesistate and start contributing
<br />
<a href="https://github.com/uniqna/uniqna/" target="blank" style="text-decoration: none">uniqna on GitHub</a>
</p>
</div>
{% endblock content %}
