.showmore {
	cursor: pointer;
	margin-left: 10px;
}

.readthread {
	cursor: pointer;
	margin-top: 10px;
	margin-left: 7px;
	border-left: solid;
	padding-left: 7px;
	line-height: 35px;
	border-color: rgba(0, 0, 0, 0.12);
}

.answer_description_align {
	font-family: 'Montserrat', sans-serif;
	padding-right: 5px;
	padding-top: 10px;
	margin-bottom: 0px;
}

.mdl-layout__content {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.mdl-mini-footer {
	display: block;
}

.navbar_logo {
	width: 85px;
}

.notifications {
	width: 50px;
	height: 50px;
}

.mdl-badge[data-badge]:after {
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	opacity: 1;
	-webkit-transition: opacity .20s ease-in;
	transition: opacity .20s ease-in;
}

.mdl-layout__title,.mdl-layout-title {
	line-height: 1.8;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #FFFFFF;
	right: 60px;
}

.mdl-layout__header {
	box-shadow: none;
}

.answer_description_align .question_delete {
	color: #E53935;
}

.question_delete {
	color: #E53935;
}

.answer_description_align p {
	margin-bottom: 0px;
}

.question_title {
	padding-left: 2.5px;
	padding-right: 2.5px;
}

@media (max-width: 320px) {

	.title .date {
		font-size: 9px;
	}
	.mdl-layout__header-row {
		padding: 0 10px 0 58px;
	}
	.button-responsive-fix {
		margin-left: -35px;
		margin-right: 30px;
	}
}


@media (max-width: 479px) {

	.mdl-mini-footer--link-list,.mdl-mini-footer__link-list {
		display: block;
	}
	.mdl-mini-footer--link-list,.mdl-mini-footer__link-list a {
		white-space: normal;
	}
}

html,body {
	font-family: 'Montserrat', sans-serif;
}
.mdl-menu__item {
	color: #424242;
	font-family: 'Montserrat', sans-serif;
}
a {
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
	font-weight: 100;
	text-decoration: none;
}
.mdl-textfield {
	width: 100%;
	font-size: 26px;
	font-family: 'Montserrat', sans-serif;
}
.mdl-textfield__input {
	font-size: 26px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding: 10px 0;
	color: #424242;
}
.mdl-textfield__label {
	text-align: center;
}
.question_title {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	line-height: 42px;
	padding-top: 25px;
	color: #424242;
	word-wrap: break-word;
}
.question_title_solved {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	line-height: 42px;
	padding-top: 25px;
	color: #009688;
	word-wrap: break-word;
}
.question_meta {
	color: #D81B60;
	margin: 0px;
}
.question_description_parent {
	margin-left: auto;
	margin-right: auto;
	min-height: 45px;
	background-color: #EEEEEE;
}
.question_description {
	margin: 0px;
	width: 100%;
	margin-top: auto;
	margin-bottom: auto;
	padding: 20px;
}
.question_description p {
	margin: 16px 0 16px;
}
.question_solved {
	color: #009688;
}
.voting {
	margin-left: auto;
	margin-right: auto;
	width: 125px;
}
.votesu {
	width: 31px;
	margin-left: auto;
}
.votesd {
	width: 31px;
	margin-right: auto;
}
.score {
	width: 31px;
	line-height: 30px;
}
th {
	padding-right: 40px;
}
table,th,td {
	border-bottom: 1px solid #ddd;
}
.editor-toolbar.fullscreen {
	position: relative;
	top: -332px;
}
.CodeMirror-fullscreen {
	top: 115px;
}
.platform {
	background-color: #FAFAFA;
}
.answer {
	padding: 10px;
	color: #424242;
	padding-top: 5px;
	padding-bottom: 0px;
	padding-left: 0px;
	position: relative;
	width: calc(100% - 40px);
	padding-right: 0px;
}
.answer_description a {
	color: #3949AB;
}
.answer_description h4 {
	font-family: 'Montserrat', sans-serif;
}
.answer_parent {
}
.answer_user {
	float: left;
}
.answer p {
	width: 100%;
}
.answer_meta_time {
	color: #9E9E9E;
}
.answer_author_meta {
	float: left;
	width: auto;
	margin: 0px;
	color: #009688;
}
.ask {
	font-family: 'Montserrat', sans-serif;
	color: #009688;
	font-size: 40px;
	min-width: 0px;
	height: 50px;
	width: 50px;
}
.ask_icon {
	font-size: 40px;
	left: 40%;
}
.ask:hover {
	background-color: 0;
}
.ask1 .mdl-button--icon .material-icons {
	left: 40%;
}
.voting_align {
	width: 50px;
}
.voting-align {
	padding: 0px;
}
.meta_parent {
	width: 100%;
	display: inline-block;
	margin-top: 10px;
}
.writeanswerbtn {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	color: #009688;
}
.userlinks {
	color: #009688;
}
.question_meta p {
	margin: 0 0 0px;
}
.question_meta_tags a {
	color: #673AB7;
}
.question_meta_tags {
	margin: 0px;
}
.answer_vote_size {
	margin: 0px;
}
.answer_score_size {
	margin: 0px;
	margin-left: 0px;
}
.link_clipboard {
	vertical-align: middle;
	color: #FFE082;
	padding-bottom: 3px;
	top: 40%;
}
.answer_author_meta .mdl-button--icon .material-icons {
	top: 45%;
}
.clipboard_button {
	height: 23px;
	min-width: 0px;
	width: 23px;
	cursor: pointer;
}
.mdl-button {
	font-family: 'Montserrat', sans-serif;
}
.editor-preview a {
	color: #3949AB;
}
.hljs {
	background: #EEEEEE;
	padding-bottom: 20px;
	padding-top: 0px;
}
.mdl-snackbar__action {
	padding: 0px;
}
.mdl-snackbar__text {
	font-family: 'Montserrat', sans-serif;
	color: #EEEEEE;
}
.button-responsive-fix {
	padding: 0px;
}
.register-padding {
	padding-left: 5px;
	padding-right: 5px;
}
.child .platform {
	border-left-style: solid;
	border-color: rgba(0, 0, 0, 0.12);
	padding-top: 0px;
	padding-bottom: 0px;
}
.reply_parent {
	margin-left: -7px;
}
.vote-default {
	color: #424242;
}
.vote-success {
	color: #4CAF50;
}
.vote-danger {
	color: #F44336;
}
.can_you_help {
	padding-left: 2.5px;
	padding-right: 2.5px;
}
.ask1 {
	font-family: 'Montserrat', sans-serif;
	color: #009688;
	font-size: 40px;
	min-width: 0px;
	height: 50px;
	width: 55px;
}
.textarea-reply {
	border: solid;
	border-color: rgba(41, 121, 255, 0.75);
	width: 95%;
	height: 100px;
}
.textarea-reply-hidden {
	display: none;
}
textarea {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
.reply {
	cursor: pointer;
	margin-top: 5px;
	display: inline-block;
	color: #2979FF;
}
.mdl-grid {
	padding-right: 0px;
}
.vote {
	padding-top: 0px;
	vertical-align: -7px;
	font-size: 20px;
	padding-left: 0.5px;
	padding-right: 0.5px;
	color: #424242;
	display: none;
}
.upvote-margin {
	margin-left: -6px;
}
.reply-submit {
	float: right;
	color: #009688;
}
.reply-submit .material-icons {
	width: 28px;
}
.child .answer_voting_parent {
	display: none;
}
.child .answer {
	width: 100%;
}
.child .userlinks {
	color: #009688;
}
.child .answer_meta_time {
	color: #9E9E9E;
}
.answer_description .reply a {
	color: #2979FF;
}
.answer_description .readthread {
	color: #2979FF;
}
.answer_description .showmore {
	color: #2979FF;
}
.child-score {
	display: none;
}
.child .vote {
	display: inline-block;
}
.child .child-score {
	display: inline-block;
}
.minimise {
	display: inline-block;
}
.minimise a {
	color: #9E9E9E;
	cursor: pointer;
}
.childVoteParent {
	display: none;
}
.child .childVoteParent {
	display: inline-block;
}
.answer_voting_parent {
	width: 40px;
	margin: 0px;
}

@media (max-width: 479px) {
	.answer_author_meta {
		float: left;
	}
	.voting {
		padding: 0px;
	}
	.mdl-mini-footer--link-list,.mdl-mini-footer__link-list {
		display: block;
	}
	.mdl-mini-footer--link-list,.mdl-mini-footer__link-list a {
		white-space: normal;
	}
	.question_title {
		font-size: 22px;
		line-height: 25px;
		padding-top: 25px;
	}
	.question_title_solved {
		font-size: 22px;
		line-height: 25px;
		padding-top: 25px;
	}
	.answer p {
		font-size: 14px;
	}
	.meta_parent {
		font-size: 14px;
	}
	.question_delete {
		font-size: 14px;
	}
	.question_solved {
		font-size: 14px;
	}
	.question_meta p {
		font-size: 14px;
	}
	.question_meta_tags a {
		font-size: 14px;
	}
	.answer {
		padding-top: 5px;
		padding-bottom: 0px;
	}
	.can_you_help p {
		font-size: 14px;
	}
}


@media (max-width: 479px) {
	.answer_author_meta {
		float: left;
	}
	.voting {
		padding: 0px;
	}
	.mdl-mini-footer--link-list,.mdl-mini-footer__link-list {
		display: block;
	}
	.mdl-mini-footer--link-list,.mdl-mini-footer__link-list a {
		white-space: normal;
	}
	.question_title {
		font-size: 22px;
		line-height: 25px;
		padding-top: 25px;
	}
	.question_title_solved {
		font-size: 22px;
		line-height: 25px;
		padding-top: 25px;
	}
	.answer p {
		font-size: 14px;
	}
	.meta_parent {
		font-size: 14px;
	}
	.question_delete {
		font-size: 14px;
	}
	.question_solved {
		font-size: 14px;
	}
	.question_meta p {
		font-size: 14px;
	}
	.question_meta_tags a {
		font-size: 14px;
	}
	.answer {
		padding-bottom: 0px;
	}
	.can_you_help p {
		font-size: 14px;
	}
	.answer_description_align {
		padding-top: 10px;
	}
}


@media (max-width: 320px) {

	html,body,p {
		font-size: 12px;
	}
	.answer {
		padding-top: 5px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	ul {
		font-size: 12px;
	}
	.can_you_help p {
		font-size: 12px;
	}
	.answer p {
		font-size: 12px;
	}
	.meta_parent {
		font-size: 12px;
	}
	.question_delete {
		font-size: 12px;
	}
	.question_solved {
		font-size: 12px;
	}
	.question_meta p {
		font-size: 12px;
	}
	.question_meta_tags a {
		font-size: 12px;
	}
}
