.nav {
  background: #fafafa;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
  padding: 10px;
}

.footer {
  padding: 3rem 1.5rem 2rem;
}

.modal .box {
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.is-white {
  color: #fafafa;
}

.is-black {
  color: #4a4a4a;
}

.is-purple {
  color: #673AB7;
}

.is-pink {
  color: #d81b60;
}

.is-indigo {
  color: #3f51b5;
}

.bg-is-purple {
  background-color: #673AB7;
  color: #fafafa;
}

.bg-is-indigo {
  background-color: #3f51b5;
  color: #fafafa;
}

.button:hover {
  border-bottom-color: none;
}

.box {
  box-shadow: none;
  background: #fafafa;
}

.vote-default {
  color: #424242;
}

.vote-success {
  color: #4caf50;
}

.vote-danger {
  color: #f44336;
}

.arrow-align {
  cursor: pointer;
}
