.nav {
  background: #fafafa;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
  padding: 10px;
  margin-top: -65px;
}

.footer {
  padding: 0rem 1.5rem 2rem;
}

.modal .box {
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.is-bold {
  font-weight: 900;
}

.is-white {
  color: #fafafa;
}

.is-black {
  color: #4a4a4a;
}

.is-purple {
  color: #673AB7;
}

.is-pink {
  color: #d81b60;
}

.is-indigo {
  color: #3f51b5;
}

.is-orange {
  color: #ff9800;
}

.bg-is-purple {
  background-color: #673AB7;
  color: #fafafa;
}

.bg-is-indigo {
  background-color: #3f51b5;
  color: #fafafa;
}

.button:hover {
  border-bottom-color: none;
}

.box {
  box-shadow: none;
  background: #fafafa;
}

.is-pointer {
  cursor: pointer;
}

.pull-down {
  transition: transform 500ms;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transform: translate3d(0px, 65px, -150px);
}
.pull-up {
  transition: transform 500ms;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transform: none;
}

.rotate-in {
  transition: transform 250ms;
  transform: rotate(180deg);
}

.rotate-out {
  transition: transform 250ms;
  transform: rotate(0deg);
}

.input {
  box-shadow: none;
  border: 2px solid;
  border-color: #b5b5b5;
}

.search-field {
  margin-bottom: 11px;
}

.bd-rainbow {
  animation: rainbow 8s ease infinite;
  background-image: linear-gradient(124deg, #ff470f, #ff3860, #b86bff, #3273dc);
  background-size: 800% 800%;
}

.is-absolute {
  position: absolute;
}

.hero.bd-is-love .title,
.hero.bd-is-love .subtitle {
  color: white;
}

@keyframes rainbow {
  0% {
    background-position: 0% 80%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0% 80%;
  }
}
