  html, body {
      font-family: 'Montserrat', sans-serif;
  }

  .mdl-layout__title, .mdl-layout-title {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 1.8;
      right: 60px;
  }

  .mdl-menu__item {
      color: #424242;
  }

  a {
      font-family: 'Montserrat', sans-serif;
      color: #FFFFFF;
      font-weight: 100;
      text-decoration: none;
  }

  .mdl-progress {
      width: 100%;
  }

  .trumbowyg-fullscreen {
      top: 68px;
  }

  .mdl-textfield {
      width: 100%;
      font-size: 26px;
      font-family: 'Montserrat', sans-serif;
  }

  .mdl-textfield__input {
      font-size: 26px;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      padding: 10px 0;
      color: #424242;
  }

  .mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
      color: #C51162;
      font-size: 20px;
      text-align: center;
  }

  .mdl-textfield__label {
      text-align: center;
  }

  .trumbowyg-box .trumbowyg-editor {
      font-family: 'Open Sans', sans-serif;
  }

  .mdl-menu__item {
      font-family: 'Montserrat', sans-serif;
  }
