.input, .textarea {
  box-shadow: none;
  border: 2px solid;
  border-color: #b5b5b5;
  height: auto;
  max-height: 100%;
}

.search-field .input{
	height: 2.25em;
}

.font-is-light {
  font-weight: normal;
}
