.level {
  padding: 10px;
}

.organisation {
  padding-top: 0;
  margin-top: -25px;
}

.field {
}

.tile.is-ancestor {
  margin-top: 10px;
}

.box {
  box-shadow: none;
  background: #fafafa;
}

.is-white {
  background: #ffffff;
}

.input {
  box-shadow: none;
  border: 2px solid;
  border-color: #b5b5b5;
}

.footer {
  padding: 3rem 1.5rem 3rem;
}
