.level {
  padding: 10px;
}

.organisation {
  padding-top: 0;
  margin-top: -25px;
}

.tile.is-ancestor {
  margin-top: 10px;
}

.login-bg-is-white {
  background: #ffffff;
}

.input {
  box-shadow: none;
  border: 2px solid;
  border-color: #b5b5b5;
}

.is-black {
  color: #4a4a4a;
}

.is-purple {
  color: #673AB7;
}


.footer {
  padding: 3rem 1.5rem 3rem;
}
