.uni {
  color: #3f51b5;
}

.post {
  margin-top: .5rem;
  margin-right: .5rem;
}

.nav {
  background: #fafafa;
}

a.nav-item.is-tab.button.is-success.post:hover {
  border-bottom-color: transparent;
}

a.nav-item:not(.button).is-tab {
  padding: 1rem;
}

@media (max-width: 768px) {
  .post {
    margin-top: 0;
    margin-right: 0;
  }
  a.nav-item.is-tab.button.is-success.post {
    padding: 1.75rem;
    padding-left: .75rem;
    border-radius: 0;
  }
}
