.input, .textarea {
  box-shadow: none;
  border: 2px solid;
  border-color: #b5b5b5;
}

.box {
  box-shadow: none;
  background: #fafafa;
}

.is-purple {
  background-color: #673AB7;
  color: #fafafa;
}
