.narrow-padding {
  padding: 1rem 1.5rem;
}

.link {
  line-height: 0px;
  vertical-align: -6px;
}

.input-is-large {
  height: 17.25em;
}

.description {
  min-height: 42px;
}

.score {
  text-align: center;
}

.arrow-align {
  display: block;
}

.solved-tick {
  font-size: 42px;
  color: #009688;
}

.children .box{
  border-left-style: solid;
  border-width: 2px;
  border-left-color: #dbdbdb;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.is-shady {
  background-color: rgba(10,10,10,.2);
}

.is-rounded {
  border-radius: 5px;
}

.pulled-little-down {
  vertical-align: -8px;
}

.font-is-light {
  font-weight: normal;
}

.icon-is-small {
  font-size: 20px;
}

.textarea {
  box-shadow: none;
  border: 2px solid;
  border-color: #b5b5b5;
  height: auto;
  max-height: 100%;
}

.reply-author-vue {
  padding-top: 0.5rem;
}